#blog {
	clear: both;
	position: relative;
	padding-top: 2%;
	padding-bottom: 5%;
	margin: 0 auto;
	background-color: #d6c3ff;
}

#blog ul {
	margin: 0 auto;
}

#blog li a {
	margin: 0 auto;
	color: black;
	font-weight: bold;
}

#blog li {
	margin: 0 auto;
	color: black;
	font-weight: bold;
}