#foot {
	background-color: black; 
	color: white;
	font-weight: bold;
	height: 3em;
	width: 100%;
	margin: 0;
	clear: both;
	position: fixed;
	bottom: 0;
}

#footerContent {
	margin: 0;
	padding: 1em 0 0 0;
}

#footerContent li {
	list-style: none;
	display: block;
	float: left;
	margin: 0;
	padding-right: 1em;
}

#footerContent li a {
	float: right;
	display: block;
	text-decoration: none;
	color: white;
	margin: 0 auto;
	font-weight: bold; 
}