#header {
	z-index: 1;
	background-color: black;
	height: 3em;
	width: 101%;
	top: 0;
	left: 0;
}

#home {
	display:block;
	float:left;
	padding-left: 1em;
	text-decoration: none;
	color: white;
	font-weight: bold; 
}

#navigation li {
	list-style: none;
	display: block;
	float: right;
	margin: 0 auto;
	padding-right: 1em;
}

#navigation li a {
	float: right;
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold; 
}
