#head {
	z-index: 1;
	background-color: black;
	height: 3em;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	position: fixed;
}

#home {
	display:block;
	float:left;
	text-decoration: none;
	color: white;
	font-weight: bold; 
	padding-top: 1em;
}

#nav {
	margin: 0;
	padding: 0;
}

#nav li{
	list-style: none;
	display: block;
	float: right;
	padding-left: 1em;
	padding-top: 1em;
}

#nav li a {
	float: right;
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold; 
}
