#middle {
	clear: both;
	position: relative;
	padding-top: 2%;
	padding-bottom: 5%;
	background-color: #d6c3ff;
}

#content {
	float: left;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	max-width: 60%;
}

#content p {
	font-weight: bold;
	font-size: 1.25em;
}

#content p a {
	color: black;
	position: relative;
}

.circular {
	margin-top: 3%;
	margin-right: 3%;
	float: right;
	clear: right;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url(../images/main.png) no-repeat;
	background-size: 250px;
}
