#middle {
	clear: both;
	position: relative;
	padding-top: 2%;
	padding-bottom: 5%;
	background-color: #d6c3ff;
}

#content {
	float: left;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	max-width: 60%;
}

#content p {
	font-weight: bold;
	font-size: 1.25em;
}

#content p a {
	color: black;
	position: relative;
}

#pic {
	float: right;
	height: 30%;
	width: 30%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 2%;
	max-width: 250px; 
	max-height: 250px; 
}