#projectContent {
	width: 900px;
	margin: 0 auto;
}

#description {
	padding-top: 2.5em;
	margin: 0 auto;
	width: 590px;
}

#projects li {
	width: 900px;
	margin: 0 auto;
	padding-top: 5px;
	display: inline-table;
}

#projects #project {
	position: relative;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	background-color: #E3D0FF;
	height: 285px;
	width: 200px;
	border-radius: 25px;
	border: 2px solid #4A3766;
}
